<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="2.5.0" targetFramework="net452" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net452" />
  <package id="Manatee.Json" version="4.0.0" targetFramework="net452" />
  <package id="Manatee.StateMachine" version="1.1.2" targetFramework="net452" />
  <package id="Manatee.Trello" version="1.9.1" targetFramework="net452" />
  <package id="Manatee.Trello.ManateeJson" version="1.4.2.1" targetFramework="net452" />
  <package id="Manatee.Trello.WebApi" version="1.0.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebHooks.Common" version="1.2.0-rc1b" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebHooks.Receivers" version="1.2.0-rc1b" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.5715.1200" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Octokit" version="0.19.0" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="TechTalk.JiraRestClient" version="2.5.0" targetFramework="net452" />
</packages>